    <footer class="page-footer">
      <div class="container">
        <div class="page-footer__content-wrapper">
          <a class="page-footer__logo-link">
            <img class="page-footer__logo" width="250" src="images/logos/certline-logo.png" alt="CertLine">
          </a>
          <nav class="page-footer__navigation footer-navigation">
            <ul class="footer-navigation__list">
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Home</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Products</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Privacy</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Terms</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">About Us</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Contact Us</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Sitemap</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Login</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Registration</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">A+ Practice Test Questions</a>
              </li>
              <li class="footer-navigation__item">
                <a class="footer-navigation__link" href="#">Network+ Practice Test Exam</a>
              </li>
            </ul>
          </nav>
          <!-- <div class="page-footer__subscribe subscribe">
            <strong class="subscribe__title">Stay Connected</strong>
            <form class="subscribe__form form" action="#" method="post">
              <p class="subscribe__field-wrapper form__field-wrapper">
                <label class="subscribe-label" for="email-field"><span class="visually-hidden">Enter your email</span></label>
                <input class="subscribe-field form__field" type="email" name="email" id="email-field" placeholder="Enter your email" required>
              </p>
              <button class="page-footer__subscribe-submit button button--primary" type="submit" onclick="this.blur();">Subscribe</button>
            </form>
          </div> -->
        </div>
      </div>
      <p class="page-footer__copyrights">
        © All Rights Reserved 2017-2018 CertBolt.com
      </p>
    </footer>