<meta charset="UTF-8">
<meta name="keywords" content="keywords">
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="preload" href="fonts/Lato-Black.woff2" as="font" crossorigin="">
<link rel="preload" href="fonts/Lato-Bold.woff2" as="font" crossorigin="">
<link rel="preload" href="fonts/Lato-Regular.woff2" as="font" crossorigin="">
<link rel="preload" href="fonts/PT_Sans-Bold.woff2" as="font" crossorigin="">
<link rel="preload" href="fonts/Roboto-Medium.woff2" as="font" crossorigin="">
<link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" crossorigin="">

<link rel="preload" href="css/plugin-styles.css" as="style">
<link rel="preload" href="css/style.css" as="style">
<link rel="stylesheet" href="css/plugin-styles.css">
<link rel="stylesheet" href="css/style.css">
<script src='js/librarys/jquery-3.4.1.min.js'></script>