<div style="display:none;"><include src="dev/images/svg/sprite.svg"></include></div>

<header class="page-header">
  <div class="page-header__top">
    <div class="container">
      <a class="page-header__logo-link" href="index.html">
        <img class="page-header__logo" width="250" src="images/logos/certline-logo.png" alt="CertLine">
      </a>
      <div class="page-header__search-form-wrapper">
        <form class="page-header__serach-form form" action="#" method="post">
          <p class="page-header__field-wrapper form__field-wrapper">
            <label class="page-header__search-label" for="search-field"><span class="visually-hidden">Enter your text</span></label>
            <input class="page-header__search-field form__field" type="search" name="search" id="search-field" placeholder="Enter your text" required autocomplete="off">
          </p>
          <button class="page-header__search-submit button button--primary" type="submit" onclick="this.blur();">Search</button>
        </form>
      </div>
      <img class="page-header__secure-logo" src="images/logos/mcafee-logo.png" alt="McAfee Secure" title="McAfee Secure">
    </div>
  </div>
