<nav class="page-header__mobile-menu mobile-menu">
  <button class="mobile-menu__close-button button"><span class="visually-hidden">Close Menu</span></button>
  <div class="mobile-menu__lists-wrapper">
    <ul class="mobile-menu__vendor-list">
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-cisco.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Cisco</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-microsoft.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Microsoft</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-comptia.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">CompTIA</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/citrix-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Citrix</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-checkpoint.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Checkpoint</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-cwnp.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">CWNP</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-linux.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">LPI</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-isc.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">ISC</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/ibm-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">IBM</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/hp-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">HP</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-apple.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Apple</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/pmi-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">PMI</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-adobe.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Adobe</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-emc.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">EMC</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-juniper.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Juniper</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/vmware-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">VMWare</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-isaca.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Isaca</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/avaya_logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Avaya</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-fortinet.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Fortinet</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/ec-council-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">ECCouncil</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-hitachi.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Hitachi</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-tibco.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Tibco</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-sas.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">SAS Institute</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-f5.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">F5</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/alcatel-lucent-logo.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Alcatel-Lucent</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-sap.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">SAP</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-riverbed.jpg" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">Riverbed</a>
      </li>
      <li class="mobile-menu__vendor-item">
        <div class="mobile-menu__vendor-icon-wrapper">
          <img class="mobile-menu__vendor-icon" width="40" src="#" data-src="images/logos/vendors/logo-giac.png" alt="Vendor Logo">
        </div>
        <a class="mobile-menu__vendor-link link" href="#">GIAC</a>
      </li>
    </ul>
    <ul class="mobile-menu__nav-list">
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link mobile-menu__nav-link--active link" href="#">Home</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link link" href="#">Products</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link link" href="#">Enterprice</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link link" href="#">FAQ</a>
      </li>
      <li class="mobile-menu__nav-item">
        <a class="mobile-menu__nav-link link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>