<ul class="main-menu__submenu submenu">
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-cisco.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Cisco</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-microsoft.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Microsoft</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-comptia.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">CompTIA</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/citrix-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Citrix</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-checkpoint.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Checkpoint</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-cwnp.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">CWNP</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-linux.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">LPI</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-isc.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">ISC</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/ibm-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">IBM</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/hp-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">HP</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-apple.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Apple</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/pmi-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">PMI</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-adobe.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Adobe</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-emc.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">EMC</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-juniper.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Juniper</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/vmware-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">VMWare</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-isaca.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Isaca</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/avaya_logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Avaya</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-fortinet.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Fortinet</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/ec-council-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">ECCouncil</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-hitachi.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Hitachi</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-tibco.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Tibco</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-sas.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">SAS Institute</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-f5.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">F5</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/alcatel-lucent-logo.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Alcatel-Lucent</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-sap.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">SAP</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-riverbed.jpg" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">Riverbed</a>
  </li>
  <li class="submenu__item">
    <div class="submenu__icon-wrapper">
      <img class="submenu__icon" data-src="images/logos/vendors/logo-giac.png" src="#" alt="Vendor Logo">
    </div>
    <a class="submenu__link link" href="#">GIAC</a>
  </li>
</ul>
